<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="homepage">

  <div id="header-wrapper">
      <div id="header-wrapper2">
        <header id="header" class="5grid-layout">
          <div class="row">
            <div class="12u" id="logo">
              <h1><%= link_to "Gotcha Store", root_path %></h1>
              <p>La mejor tienda del barrio</p>
            </div>
          </div>
          <div class="row">
            <div class="12u" id="menu">
              <nav class="mobileUI-site-nav">
                <ul>
                  <li>
                    <%= link_to "Proveedores", suppliers_path %>
                  </li>
                  <li>
                    <%= link_to "Categorias", categories_path %>
                  </li>
                  <li>
                    <%= link_to "Listado", product_list_path %>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </header>
      </div>
    </div>
    <div id="page-wrapper">
      <div>
      </div>
      <%= yield %>
    </div>

</body>
</html>
